name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest bandit flake8

    - name: Run Linter
      run: flake8 src

    - name: Run Unit Tests
      run: pytest

    - name: Run SAST (Bandit)
      run: bandit -r src

    - name: Build Docker Image
      run: docker build -t devops_project_flask:0.0.1 .

    - name: Deploy to Kubernetes
      run: kubectl apply -f k8s/deployment.yaml
    
      

